<section>
    <div class="job">
        <div class="job__company">3Pillar Global</div>
        <div class="job__header">         
            <div class="job__title"><b>Software Engineer</b></div>
            <div class="job__date"><i>August 2021 - Present</i></div>
        </div>
        <div class="job__description">  
            <ul id="principal">
                <li>
                    Took courses of SQL Server, Java, JavaScript, Spring boot,
                    NodeJS, Angular and React given by instructors, Udemy and self-study.
                </li>
                <li>
                    Worked as a Front-End Developer in a landing page
                    for NielsenIQ, one of 3PillarGlobal clients:  
                </li>
                <li>
                    <ul id="nested">
                        <li>
                            Gave solutions to different problems that were provoking malfunctions
                            in the system.
                        </li>
                        <li>
                            Implemented new functionalities that added value to the system.
                        </li>
                        <li>
                            Used technologies: Angular 12, TypeScript, HTML, SCSS, Git, Bitbucket, 
                            SonarQube, Jenkins, Jira.
                        </li>
                    </ul>
                </li>
            </ul>    
        </div>
    </div>

    <div class="job">
        <div class="job__company">Alianza Celular</div>
        <div class="job__header">
            <div class="job__title"><b>Developer</b></div>
            <div class="job__date"><i>July 2020 - August 2021</i></div>
        </div>
        <div class="job__description">  
            <ul id="principal">
                <li>
                    Used HTML, CSS, JavaScript, jQuery, PHP and MySql to improve and create functionalities
                    for the systems of the company, so the employees can sell more easily
                </li>
                <li>
                    Given mantenance to existing mobile apps using Ionic, Angular, TypeScript, HTML, CSS, PHP,
                    and MySql. I created one mobile from scratch for the managment of the personal of the company using
                    the same tools.  
                </li>   
                <li>Used Autoit and Python to create automation processes, so employees can perform automated tasks and save time.</li>
            </ul>    
        </div>
    </div>
</section>

