<section>
    <div class="title">
        <b>About me</b>
    </div>
    <div class="main-text">
        Computer systems engineer graduated from the Instituto Tecnologico de Ciudad Guzman (ITCG).
        Working as a software engineer and building tools to help businesses grow with over 2 years of experience in the field. 
        <br><br>
        Experience with Angular, JavaScript, TypeScript, MySql. Some knowledge of Java, Spring boot,
        NodeJS and React through courses and self study. Always learning something new.
        <br><br>
        I spend free time watching movies and series, reading, doing exercise, playing the guitar, going out with friends,
        and playing videogames.
    </div>
</section>
