@import 'colors';
@import 'animations';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    //overflow-y: hidden;
    position: relative;
    background-color: $main-color;
    color: $main-text-color;
}

section {
    padding: 50px 65px 0 65px;
}

.title {
    font-size: 4rem;
    margin-bottom: 60px;
}

.main-text {
    font-size: 1.5rem;
    line-height: 1.5;
}

@media only screen and(max-width: 650px) {
    section {
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    .main-text {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}


